.aboutimgdiv{
  margin-left: 8.854vw;
}
.aboutimg{
  height: 13.021vw;
  width: 13.021vw;
}
.abouttextdiv{
  margin-top: 2vw;
  width: 70vw;
}
.about-main-text {
  padding-left: 8.854vw;
  text-align: left;
  font-weight: 800;
  font-size: 2.167vw;
  line-height: 1.2;
}
.vision-sub-text{
margin-left: 8.854vw;
width: 60vw;
text-align: left;
font-size: 0.885vw;
opacity: 1;
}

@media (max-width: 896px){
  .aboutimgdiv{
    margin: auto;
  }
  .aboutimg{
    display: block;
    margin: auto;
    margin-top: 10vw;
    height: 60.386vw;
    width: 60.386vw;
  }
  .abouttextdiv{
    margin-top: 5vw;
    text-align: center;
    padding: 10vw;
  }
  .about-main-text {
    padding-top: 1vw;
    margin: auto;
    padding-left: 8.854vw;
    text-align: left;
    font-weight: 800;
    font-size: 8.167vw;
    line-height: 1.2;
  }
  .vision-sub-text{
  padding-top: 5vw;
  width: 100vw;
  margin: auto;
  text-align: center;
  font-size: 4vw;
  opacity: 1;
  }
  /* .knowmore-sub-text{
  text-align: left;
  font-size: 0.885vw;
  color: #FFFFFF;
  opacity: 1;
  } */
}
