body {
  background-color: #222426;
  font-family: 'Raleway', sans-serif;
}

.bg-wave {
  top:0;
  left:0;
  width: auto;
  height: auto;
  background: transparent url('img/XMLID_67_.png') 0 0 no-repeat padding-box;
  position:absolute;
  opacity: 0.7;
  z-index: -5;
}

/* Navigation Bar */

.logo {
  padding: 0 0;
  position: relative;
  /* top: 1.851%;
  left: 8.85%; */
  width: 19.125vw;
  height: 6.250vw;
}

.navbar-toggler {
  border: 0;
}

.navigation-bar {
  padding-left: 8.85%;
  padding-right: 8.85%;
}

.nav-link{
  color: #fff !important;
  font-weight: 700;
  font-size: 1.563vw;
}

.signup-button {
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.563vw;
  width: 10.417vw;
  height: 2.604vw;
  background: transparent linear-gradient(103deg, #005C97 0, #363795 100%) 0 0 no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  margin-right: 15px;
}

.login-button {
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.302vw;
  width: 10.156vw;
  height: 2.344vw;
  border: 0.260vw solid #FFFFFF;
  border-radius: 30px;
  opacity: 1;
}

/* Body */

.main-text {
  padding-top: 11.979vw;
  padding-left: 8.854vw;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-size: 4.167vw;
  line-height: 1.2;
}

.emphasized-text {
  font-weight: 900;
  color: #E6C229;
}

.know-button {
  width: 15.208vw;
  height: 4.167vw;
  position: relative;
  left: 8.854vw;
  background: transparent linear-gradient(104deg, #005C97 0, #363795 100%) 0 0 no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
  color: #fff;
  font-weight: 700;
  font-size: 1.875vw;
}

.sub-text {
  position: relative;
  padding-left: 9.323vw;
  color: #fff;
  font-size: 0.885vw;
  font-weight: 300;
}

.sub-emphasized {
  color: #E6C229;
  font-weight: 500;
}

.home-illustration {
  position: absolute;
  top: 16.224vw;
  right: 8.854vw;
  width: 39.531vw;
  height: 25.573vw;
}

@media (max-width: 896px) {
  .bg-wave {
    width: auto;
    height: auto;
  }

  .nav-link{
    color: #fff !important;
    font-size: 4.797vw;
  }

  .signup-button {
    padding: 0;
    font-size: 4.106vw;
    width: 41.063vw;
    height: 10.870vw;
  }

  .login-button {
    padding: 0;
    font-size: 4.106vw;
    width: 41.063vw;
    height: 10.870vw;
    border: 1.208vw solid #FFFFFF;
  }

  .logo {
    width: 40.580vw;
    height: 13.285vw;
  }
  .navigation-bar {
    padding-left: 4.831vw;
    padding-right: 4.831vw;
  }
  .home-illustration {
    position: relative;
    top: 11.161vw;
    left: 9.140vw;
    width: 81.722vw;
    height: 52.853vw;
  }
  .main-text {
    padding-top: 25vw;
    padding-left: 0;
    text-align: center;
    color: #fff;
    font-size: 8.696vw;
    line-height: 1.2;
  }

  .know-button {
    width: 41.063vw;
    height: 10.870vw;
    position: relative;
    left: 29.469vw;
    background: transparent linear-gradient(104deg, #005C97 0, #363795 100%) 0 0 no-repeat padding-box;
    border-radius: 40px;
    opacity: 1;
    color: #fff;
    font-weight: 700;
    font-size: 4.106vw;
  }

  .sub-text {
    position: relative;
    padding-left: 26.014vw;
    color: #fff;
    font-size: 3.140vw;
    font-weight: 300;
  }
}

/* KnowMore page */
.knowmore-illustration{
    position: absolute;
    top: 16.224vw;
    right: 8.854vw;
    width: 39.531vw;
    height: 25.573vw;
}

.knowmorediv{
margin-left: 8.854vw;
width: 28.906vw;
}

.knowmore-text{
  margin-top: 8.063vw;
  margin-left: 8.854vw;
  text-align: left;
  color: #fff;
  font-weight: 800;
  font-size: 2.188vw;
  line-height: 1.2;
}

.knowmore-sub-text{
text-align: left;
font-size: 0.885vw;
color: #FFFFFF;
opacity: 1;
}

.pricingplan-text{
  margin-top: 5.063vw;
  margin-left: 8.854vw;
  text-align: left;
  font-weight: 800;
  font-size: 2.188vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.tileDiv{
  margin-top: 1.563vw;
  margin-left: 6.25vw;
}
.tile{
  display:inline-block;
  margin-left: 2.604vw;
  height: 11.458vw;
  width: 11.458vw;
  background: transparent linear-gradient(135deg, #005C97 0%, #363795 100%) 0% 0% no-repeat padding-box;
border-radius: 30px;
opacity: 1;
}
.price{
margin-top: 2.656vw;
font-weight: bold;
font-size: 2vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-align: center;
}

.month{
  text-align: center;
font-weight: lighter;
font-size: 0.885vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.level{
  text-align: center;
font: Medium 1.302vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

@media (max-width: 896px) {

.knowmore-illustration{
  position: relative;
  top: 11.161vw;
  left: 9.140vw;
  width: 81.722vw;
  height: 52.853vw;
}

.knowmore-text{
  padding-top: 20vw;
  /* padding-left: 8.854vw; */
  margin: auto;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 10vw;
  line-height: 1.2;
}

.knowmore-sub-text{
text-align: center;
font-size: 4vw;
color: #FFFFFF;
opacity: 1;
}

.knowmorediv{
  margin: auto;
width: 75.942vw;
}

.pricingplan-text{
  margin: auto;
  margin-top: 10vw;
  text-align: center;
  font-weight: 800;
  font-size: 10vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.tileDiv{
  margin: auto;
}
.tile{
  display:block;
  margin: auto;
  margin-top: 10vw;
  height: 53.140vw;
  width: 53.140vw;
  background: transparent linear-gradient(135deg, #005C97 0%, #363795 100%) 0% 0% no-repeat padding-box;
border-radius: 30px;
opacity: 1;
}
.price{
margin-top: 2.656vw;
font-weight: bold;
font-size: 8vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-align: center;
}

.month{
  text-align: center;
font-weight: lighter;
font-size: 4vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.level{
  text-align: center;
font: Medium 5.302vw;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}


}
